body {
    margin: 2% 10%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    border-bottom: 1px solid #a5a5a5;
}

.content {
    padding-bottom: 2%;
    text-align: center;
}

.ul-none {
    padding: 0;
    list-style-type: none;
}

.text-decoration-none{
    text-decoration: none;
    color: black;
}